*{
    margin: 0;
    padding: 0;
}

#site-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../media/img/universe.jpeg");
    background-size: contain;
    background-color: black;
    transition: 5s;

    animation-name: changeBgImage;
    animation-duration: 30s ;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

/* <--- These are my site-container animation keyframes ---> */
@keyframes changeBgImage {
    0%{
        background-image: url("../media/img/universe.jpeg");
    }
    20%{
        background-image: url("../media/img/universe2.jpeg");
    }
    40%{
        background-image: url("../media/img/universe.jpeg");
    }
    60%{
        background-image: url("../media/img/universe2.jpeg");
    }
    80%{
        background-image: url("../media/img/universe.jpeg");
    }
    100%{
        background-image: url("../media/img/universe2.jpeg");
    }
}

#card-container{
    width: 50%;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    -webkit-animation: zoomin 5s ease-in;
    overflow: auto;
  }
 
  /* Zoom in Keyframes */
  @-webkit-keyframes zoomin {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}



.card{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.title {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.release-date {
    color: yellow;
}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border: 18px solid #f3f3f3;
    border-radius: 50%;
    border-top: 18px solid yellow;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

#modal-container{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#movie-info-container{
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 20px;
}

#goBack{
    background-color: yellow;
    font-size: 30px;
    position: fixed;
    left:0px;
    top: 0px;
    cursor: pointer;
}